<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.com.com.erp.dto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/MemberDao.xml"/>
        <mapper resource="mapper/BoardDao.xml"/>
        <mapper resource="mapper/HistoryDao.xml"/>
        <mapper resource="mapper/ProxyDao.xml"/>
    </mappers>

</configuration>
